:root {
    --yellow: #F5A623;
    --yellow-dk: #E09010;
    --navy: #1A1A3E;
    --purple: #3737C8;
    --white: #FFFFFF;
    --off-white: #F8F8FA;
    --gray-light: #F2F2F7;
    --gray-border: #E5E5EA;
    --text-body: #4A4A5A;
    --font: 'DM Sans', sans-serif;
}
